@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.mycontainer{
    background-color: #343A40;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: large;
    padding: 10px 0;
}

.mytitle{
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 60px;
    padding: 50px 0;
    margin: 50px 0;
}

.contentcontainer{
    background-color: #ADB5BD;
    color: #343A40;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: large;
    padding: 10px 0;
    list-style: disc;
}

.contenttitle{
    padding: 20px 0;
    font-size: x-large;
}

.homecontenttitle{
    padding: 20px 0;
    font-size: xx-large;
}

.paragraphstyle{
    background-color: #343A40;
    color: rgba(255, 255, 255, 0.87);;
    padding: 10px;
    border-radius: 20px;
}

.mycontainer ul li {
    display: list-item;
    list-style-type: disc;    
}

